.footer {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    opacity: 0.9;
    text-align: center;
  }