#container2{
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.usuario{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Menu header */

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

#login{
    display: flex;
    align-items: center;
}


/* nav ul li{
    list-style: none;
    float: left;
    margin: 2px;
    padding: 12px;
    position: relative;
    background-color: cadetblue;
}

a{
    text-decoration: none;
}

nav ul li ul li{
    clear: both;
    display: none;
}

nav ul li:hover ul>li{
    margin: 0px;
    right: 50%;
    display: block;
    line-height: 100%;
} */
