<div id="container2">
    <img src="../../../assets/logo.png" width="130px" height="100px">
        <h1>COMPUSMART</h1>
        <div id="header">
                <ul class="nav">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Productos</a>
                        <ul>
                            <li><a routerLink="/app-computadores">Computadores</a></li>
                                <ul>
                                    <li><a href="">Escritorio</a></li>
                                    <li><a href="">Portatiles</a></li>
                                </ul>
                            <li><a href="">Tablets</a></li>
                            <li><a href="">Impresoras</a></li>
                            <li><a href="">Celulares</a>
                                <ul>
                                    <li><a href="">Huawei</a></li>
                                    <li><a href="">Samsung</a></li>
                                    <li><a href="">Nokia</a></li>
                                    <li><a href="">Iphone</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">Quienes somos</a>
                        <ul>
                            <li><a href="">Mision </a></li>
                            <li><a href="">Vision</a></li>
                            <li><a href="">Valores</a></li>
                        </ul>
                    </li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>

            <div id="login">
                    <div id="session">
                        <span class="usuario">Usuario</span>
                        <input type="text" (keyup.enter)="datoUser(nombre.value)" #nombre>
                    </div>
                    <div>
                        <p>{{datoUser.nombre}}</p>
                    </div>
                </div>
</div>

<!-- 
<div id="header">
    <div id="menu">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Productos
                    <ul>
                        <li>Chaquetas</li>
                        <li>Botas</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div> -->

