#contenido{
    display: flex;
    width:  100%;
    height: 800px;
    margin-bottom: 20%;
    background-color: aquamarine;
}

#contenido2{
    display: flex;
    width:  100%;
    height: 500px;
    margin-bottom: 20px;

}

#contenido3{
    display: flex;
    justify-content: space-around;
    width:  100%;
    height: 350px;
    background-color: greenyellow;
}

#contenido4{
    display: flex;
    justify-content: space-around;
    width:  100%;
    height: 300px;
    background-color: wheat;
}

#cont1{
   background-color: rgb(69, 69, 241);
   margin: 2px;
   margin: white;
   text-align: center;
}

#cont2{
    background-color: coral;
    margin: 2px;
    text-align: center;
}

#cont3{
    
    background-color: goldenrod;
    margin: 2px;
    text-align: center;
}

/* Slider */

.slider {
    width: 100%;
    height: 500px;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    margin-bottom: 200px;
	list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

