<!-- <div id="contenido">
<div id="chat">
    <div id="box">
        <span>{{chat.data}}</span>
    </div>

    <div id="send">
        <textarea [(ngModel)]="chat.data"></textarea>
    </div>
</div>

</div> -->

<div id="contenido2">
        <!-- {{datosPag.infoPag}} -->
        <div class="slider">
                <ul>
                    <li>
      <img src="../../../assets/laptop.jpg" height="300" alt="">
     </li>
                    <li>
      <img src="../../../assets/tablet.jpg"  height="300" alt="">
    </li>
                    <li>
      <img src="../../../assets/iphone.jpg"  height="300" alt="">
    </li>
                    <li>
      <img src="../../../assets/smartwatch.jpg"  height="300" alt="">
    </li>
                </ul>
            </div>
</div>
        

<div id="contenido3">
    <div id="cont1">
        <img [src] = "datosPag.imgPag" width="420" height="300">
            <p>Samsung Galaxy S10 - $2500000</p>
        
    </div>

    <div id="cont2">
        <img [src] = "datosPag.imgPag2" width="420" height="300">
        <p>Huawei Band - $180000</p>
        </div>

    <div id="cont3">
        <img [src] = "datosPag.imgPag3" width="420" height="300">
        <p>Apple Macbook Air- $2800000</p>
    </div>
        
</div>

