<div id="contenedor">
<miHeader class="encabezado"></miHeader>

</div>

<div>
    <directiva-if></directiva-if>
</div>

<div>
<miContent></miContent>

<router-outlet></router-outlet>
</div>

<div>
    <miFooter></miFooter>
</div>


<!-- <div>
    <directiva-for></directiva-for>
</div> -->

<!-- <div>
    <directiva-switch></directiva-switch>
</div> -->

<!-- <ul>
    <li *ngFor= "let dato of datosAlumnos">
        {{dato.nombre}}-{{dato.apellido}}
    </li>
</ul> -->

